body{ margin:0;}

#container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
#videobcg {
    width: inherit;
    height: inherit;
    -o-filter: blur(8px);
    filter: blur(8px);
    object-fit: cover;
    transform: scale(1.04);
}

@keyframes fadeIn{
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    opacity: 1;

    animation: fadeIn 0.5s ease-in;
  }

  .bg-list {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    opacity: 1;

    animation: fadeIn 0.5s ease-in;
  }

  .bg-socials {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 3px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    opacity: 1;

    animation: fadeIn 0.5s ease-in;
  }

  .bg-end {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 11%;
    padding: 1px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    opacity: 1;

    animation: fadeIn 0.5s ease-in;
  }